{
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "script",
  },
  "extends": "eslint:recommended",
  "rules": {
    "strict": 0,
    "indent": 2,
  }
}
