build/ccxt.php linguist-generated=true
build/ccxt.es5.js linguist-generated=true
build/__init__.py linguist-generated=true
ccxt.js linguis-generated=false
ccxt.php linguis-generated=false
ccxt.py linguis-generated=false