*.* text eol=lf
php/test/*.php linguist-generated=true
php/*.php linguist-generated=true
php/pro/*.php linguist-generated=true
python/ccxt/*.py linguist-generated=true
python/ccxt/pro/*.py linguist-generated=true
python/ccxt/__init__.py linguist-generated=false
