*.* text eol=lf
php/test/*.php linguist-generated=true
php/*.php linguist-generated=true
php/abstract/*.php linguist-generated=true
php/async/abstract/*.php linguist-generated=true
php/pro/*.php linguist-generated=true
