
# You shouldn't edit these files, as they're generated automatically from ccxt.js by build scripts.
# Please read https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#multilanguage-support for details.
#
.vscode
build/*
node_modules/
npm-debug.log
.DS_Store
config.js
config.py
config.php
dist/
ccxt.egg-info/
tmp/
*.pyc
.tox/
coverage
.nyc_output
travis-keys.sh
ccxt.wiki/
package-lock.json
exchanges.json
ccxt.sublime-workspace
.idea
yarn.lock
keys.local.json
nbproject/
vendor/
