ccxt.egg-info/
build/**/*
!build/countries.js
!build/export-exchanges.js
!build/fs.js
!build/transpile.js
!build/vss.js
!build/cleanup-old-tags.js
examples/
node_modules/
python/
php/
tmp/
doc/
vendor/
wiki/
.tox/
.github/
.DS_Store
.nyc_output
.travis.yml
appveyor.yml
*.php
*.py
*.pyc
ccxt.sublime-workspace
composer.*
config.js
coverage
exchanges.json
ISSUE_TEMPLATE.md
keys.local.json
keys.json
npm-debug.log
travis-keys.sh
run-tests.js
Dockerfile
docker-compose.yml
phpunit.xml.dist
setup.cfg
exchanges.cfg
