# Initally ignore all files
*

# Files to include
!package.json
!package-lock.json
!postinstall.js
!LICENSE.txt
!README.md

# Folders to include
!js/**/*
!dist/**/*

# Ignore tests
js/src/test/**/*
js/src/pro/test/**/*
