environment:
  matrix:
    - nodejs_version: '9'
install:
  - ps: Install-Product node $env:nodejs_version
  - set CI=true
  - npm install --global npm@latest
  - set PATH=%APPDATA%\npm;%PATH%
  - npm install
  - python -m pip install --upgrade pip setuptools
  - pip install enum34==0.9
  - pip install tox
  - pip install requests
  - pip install cryptography
  - SET PATH=C:\Program Files\curl;%PATH%
  - ps: Set-Service wuauserv -StartupType Manual
  - cinst -y php --allow-empty-checksums
  - cd c:\tools\php74
  - copy php.ini-production php.ini
  - echo date.timezone="UTC" >> php.ini
  - echo extension_dir=ext >> php.ini
  - echo extension=php_curl.dll >> php.ini
  - echo extension=php_mbstring.dll >> php.ini
  - cd %APPVEYOR_BUILD_FOLDER%
matrix:
  fast_finish: true
build: off
# shallow_clone: true
before_test:
  - cinst pandoc --version 2.3.1
  - pandoc -v
test_script:
  - refreshenv
  - node --version
  - npm --version
  - python --version
  - npm run build
  - npm run test-base
cache:
  - '%APPDATA%\npm-cache'
  - '%LOCALAPPDATA%\pip\Cache'
after_build:
  # Remove old or huge cache files to hopefully not exceed the 1GB cache limit.
  #
  # If the cache limit is reached, the cache will not be updated (of not even
  # created in the first run). So this is a trade of between keeping the cache
  # current and having a cache at all.
  # NB: This is done only `on_success` since the cache in uploaded only on
  # success anyway.
  - C:\cygwin\bin\find "%LOCALAPPDATA%\pip" -type f -mtime +360 -delete
  - C:\cygwin\bin\find "%LOCALAPPDATA%\pip" -type f -size +10M -delete
  - C:\cygwin\bin\find "%LOCALAPPDATA%\pip" -empty -delete
  # Show size of cache
  - C:\cygwin\bin\du -hs "%LOCALAPPDATA%\pip\Cache"
