environment:
  matrix:
    - nodejs_version: '8'
install:
  - ps: Install-Product node $env:nodejs_version
  - set CI=true
  - npm install --global npm@latest
  - set PATH=%APPDATA%\npm;%PATH%
  - npm install
  - pip install tox
matrix:
  fast_finish: true
build: off
shallow_clone: true
before_test:
- cinst php --version 7.0.9 --allow-empty-checksums
- setx PATH "%PATH%;C:\tools\php"
- refreshenv
- cinst pandoc
- pandoc -v
test_script:
  - node --version
  - npm --version
  - npm run build
  - npm run test-base
cache:
- '%APPDATA%\npm-cache'
