# -------------------------------------------------------------------------------
# You can create a custom bundle of CCXT including only the exchanges you need.
# Add or uncomment ids below and launch `npm run build`.
# Leaving this config empty will build all exchanges.
# -------------------------------------------------------------------------------

# binance
# huobi
# kraken
