<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        forceCoversAnnotation="true"
        mapTestClassNameToCoveredClassName="true"
        bootstrap="tests/bootstrap.php"
        colors="true"
        backupGlobals="false"
        backupStaticAttributes="false"
        syntaxCheck="false"
        stopOnError="false"
        >

    <testsuites>
        <testsuite name="tests">
            <directory>tests</directory>
            <exclude>
                <directory>test/ab</directory>
            </exclude>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src/</directory>
        </whitelist>
    </filter>
</phpunit>