openapi: 3.1.0
info:
  title: CCXT Order Router API
  version: 2.0.0
  description: |
    Smart order router over live L2 order books from ~60 exchanges (ccxt.pro WebSocket).

    ### The contract in one line

        GET /route?from=USDT&to=BTC&amountOut=1&strategy=split_optimal

    You say what you **hold** (`from`) and what you **want** (`to`). The router picks the
    market, the direction, the venues, and — when no direct market exists — the bridge.
    There is no `side` parameter: `USDT -> BTC` is a *buy* of `BTC/USDT` and `BTC -> USDT`
    is a *sell* of the very same market, and deriving that server-side removes the single
    most error-prone step in an order-routing API.

    ### Amounts are never ambiguous

    Supply **exactly one** of:
    - `amountIn` — how much of `from` you will spend.
    - `amountOut` — how much of `to` you want to end up with.

    Supplying both, or neither, is a `400`. `amountIn` on a buy is a *notional* walk (spend
    exactly this much quote currency); `amountOut` is a *quantity* walk (acquire exactly this
    much base). They are genuinely different traversals of the book, not a unit conversion.

    The response reports what the route **achieves** in `amountIn`/`amountOut`, and what you
    asked for in `requestedAmount`. On an unroutable request both achieved amounts are `0` —
    the request is never echoed back as if it were an outcome.

    ### Prices are book-walked, not top-of-book

    Each venue's cached book is walked to your actual size. For any non-trivial size the venue
    with the best top-of-book price is frequently *not* the venue with the best price for your
    size. Ranking is on the fee-adjusted price; fees differ by up to ~4x between venues and
    routinely invert the ranking.

    ### Price impact is reported, not left for you to derive

    Every hop carries a `referencePrice` (the best fee-adjusted price available anywhere for an
    infinitesimally small order) and an `impactBps` measuring how much worse your actual size
    executes. The route carries the end-to-end pair, `referenceRate` and `impactBps`. Positive
    always means worse, on both sides. Fees and the staleness penalty are in *both* halves of the
    comparison, so what is left is purely the cost of consuming depth — which is the number that
    tells you whether to split an order or shrink it.

    ### Bridges are compared, not guessed

    When more than one market path exists the router solves all of them and takes the best:
    the direct market, plus one two-hop route per asset in `bridges`. `pathsConsidered` reports
    every candidate with its output and its score, so the choice is auditable. A longer path must
    beat a shorter one by more than `hopPenaltyBps` per extra hop — a second order is a second
    chance for the price to move between fills, and that risk is not in the order book.

    ### Streaming

    `GET /stream/route` is the same request over a WebSocket: the same query parameters, identical
    response body, pushed whenever any market the route depends on moves. Bridged routes watch
    every leg, and the watch set is re-derived as markets appear, so a route that switches to a
    newly-listed market stays subscribed to it. Invalid parameters close the socket with code 1008
    and the same message the REST endpoint would have returned as a 400; so does a request the REST
    endpoint would refuse outright (an unreachable pair, or exact-out over a bridge).

    Two defaults differ from the REST endpoint, both for volume: pushes are floored at one per
    100ms, and `includeQuotes` defaults to false. Unbounded, a single socket measured 658 frames/sec
    at 9.3KB — 6.3 MB/s, against a per-key limit of 50 sockets. Pass `includeQuotes=true` to get the
    diagnostic anyway.

    ### Responses callers must handle
    - `hops: []` with a non-null `unroutableReason` — a deliberate refusal to quote, not an
      error. `all_books_stale` in particular is common at full discovery scale on the illiquid
      tail; treat it as "no reliable price", not "no market".
    - `fullyFillable: false` — the requested size exceeds cached depth. `effectiveRate` then
      prices ONLY the filled portion. Check `fillRatio` before using it.
    - `hops.length > 1` — the route was bridged. Each hop is a separate order with its own
      execution risk, and fees are reported per hop in that hop's own currency. There is no
      cross-hop fee total, because adding USDT fees to BTC fees would be a meaningless number.
  license:
    name: MIT
servers:
  - url: https://docs.ccxt.com/router/api
    description: |
      Beta deployment. Path-mounted because the provider firewall permits only 22/80/443, and
      /router/ itself serves the site and dashboards. This address is temporary — the product moves
      to its own domain before public release, so read it from configuration rather than hard-coding it.
  - url: http://localhost:8080
    description: Local development
security:
  - ApiKeyHeader: []
  - BearerToken: []
tags:
  - name: Routing
  - name: Market data
  - name: Operations
paths:
  /health:
    get:
      tags: [Operations]
      summary: Liveness probe
      description: One of the two unauthenticated routes, with /ready, so orchestrator probes work before credentials are injectable. Exposes nothing but status and uptime.
      security: []
      responses:
        '200':
          description: Service is up
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: ok }
                  uptimeSec: { type: number, example: 1183.4 }
  /ready:
    get:
      tags: [Operations]
      summary: Readiness probe
      description: |
        Whether the process can actually route yet, which is a different question from whether it
        is alive. `/health` answers 200 from the first millisecond of boot, before a single
        websocket has connected — point a deploy gate or a load balancer at it and traffic arrives
        at a router whose only possible answer is `all_books_stale`, an outage the router itself
        reports as a successful 200.

        Ready means books exist and enough of them are fresh to rank on, measured with the same
        staleness cutoff `/route` uses, so readiness cannot disagree with what routing will do.
        `503` until then. Unauthenticated like `/health`, and reports counts only — never venue
        names, which is why `/exchanges/status` stays behind the key.
      security: []
      responses:
        '200':
          description: Enough fresh books to route
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Readiness' }
        '503':
          description: Alive, but not yet able to route
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Readiness' }
  /version:
    get:
      tags: [Operations]
      summary: Which commit is deployed
      description: |
        Build provenance of the running process, baked into the artifact at build time. This is
        what a deploy pipeline asserts against: `/health` answers 200 from the OLD process just as
        happily when a deploy silently no-ops, and `commit` is the only field that tells the two
        apart. Authenticated like every other non-`/health` route — the deployed revision points an
        attacker straight at the diff to read.

        `commit` is `unknown` for a build made outside a git checkout with no `ORDER_ROUTER_BUILD_SHA`
        or `GITHUB_SHA` set (e.g. a local `npm run dev`), never an error.
      responses:
        '200':
          description: Build provenance
          content:
            application/json:
              schema:
                type: object
                properties:
                  version: { type: string, example: '0.1.0' }
                  commit: { type: string, example: 3c78552ddab1f2e4a9b8c7d6e5f40312a9b8c7d6 }
                  commitShort: { type: string, example: 3c78552ddab1 }
                  builtAt: { type: string, format: date-time, nullable: true }
                  builtBy: { type: string, enum: [ci, local, unknown] }
                  startedAt: { type: string, format: date-time }
                  uptimeSec: { type: number, example: 1183.4 }
        '401':
          $ref: '#/components/responses/Unauthorized'
  /route:
    get:
      tags: [Routing]
      summary: Route a conversion between two assets across venues
      description: |
        Returns an ordered list of hops. A single-market conversion is `hops.length == 1`; a
        bridged one (e.g. `SOL -> USDT -> BTC`) is longer. There is deliberately no separate
        "best venue" endpoint or field: a single-venue answer is just a hop with one leg, so
        `strategy` changes the number of legs and nothing else about the shape.
      parameters:
        - $ref: '#/components/parameters/RouteFrom'
        - $ref: '#/components/parameters/RouteTo'
        - $ref: '#/components/parameters/RouteAmountIn'
        - $ref: '#/components/parameters/RouteAmountOut'
        - $ref: '#/components/parameters/RouteBridges'
        - $ref: '#/components/parameters/RouteIncludeQuotes'
        - $ref: '#/components/parameters/RouteHopPenaltyBps'
        - $ref: '#/components/parameters/RouteStrategy'
        - $ref: '#/components/parameters/RouteMaxVenues'
        - $ref: '#/components/parameters/RouteIncludeFees'
        - $ref: '#/components/parameters/RouteMinLegNotional'
        - $ref: '#/components/parameters/RouteExchanges'
        - $ref: '#/components/parameters/RouteCertified'
        - $ref: '#/components/parameters/RouteRequireFullFill'
        - $ref: '#/components/parameters/RouteBalances'
        - $ref: '#/components/parameters/RouteBalanceMode'
        - $ref: '#/components/parameters/RouteRequestIdHeader'
      responses:
        '200':
          description: |
            The fill plan. `hops` is empty (with an `unroutableReason`) when a market exists but
            nothing sufficiently fresh could fill — that is a routing outcome, not a request error,
            so it is a 200.
          headers:
            x-request-id:
              schema: { type: string }
              description: Audit id, matching `requestId` in the body.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RouteResult' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404':
          description: |
            No market and no bridge path exists between `from` and `to` at all. This is a
            request-level problem (wrong ticker, unlisted asset) rather than an empty market
            result, so it is distinguished from a 200 with an empty `hops`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RouteResult' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '503': { $ref: '#/components/responses/CacheCold' }
        '501':
          description: |
            `amountOut` was requested for a conversion that only routes over a bridge. Exact-out
            across hops requires solving backwards from the destination, which is not implemented;
            it is refused rather than silently approximated. Re-ask with `amountIn`. The body is a
            RouteResult carrying `unroutableReason: exact_out_multi_hop_unsupported`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RouteResult' }
    post:
      tags: [Routing]
      summary: The same route, with the parameters in a body instead of the URL
      description: |
        Identical parameters, identical answer, same handler — the only difference is where the
        parameters came from.

        **Use this whenever you send `balances`.** This service scrubs holdings out of both of its
        own logs, but a URL does not stay inside this process: the standard deployment puts a
        reverse proxy in front, and nginx, an ALB and a CDN all log the full request line by
        default. So do browser history and any client-side tracing, and a `Referer` carries it
        off-origin. None of that is reachable from here, and no amount of in-process redaction
        fixes it — the fix is for the wallet not to be in the URL.

        `GET` is unchanged and remains the right call for a route request carrying no holdings: it
        is cacheable, linkable, and what every existing client already uses.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: The same fields as the GET query parameters, by the same names.
              properties:
                from: { type: string, example: USDT }
                to: { type: string, example: BTC }
                amountIn: { type: number, example: 1000 }
                amountOut: { type: number }
                balances: { type: string, example: 'USDT:1000,BTC:0.05' }
              required: [from, to]
      responses:
        '200':
          description: The fill plan, exactly as `GET /route` returns it.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RouteResult' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404':
          description: |
            Same as `GET /route`: no market and no bridge path exists between `from` and `to` at
            all. One handler serves both verbs, so every status one can answer with, the other can.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RouteResult' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '503': { $ref: '#/components/responses/CacheCold' }
        '501':
          description: |
            Same as `GET /route`: `amountOut` was requested for a conversion that only routes over
            a bridge. Re-ask with `amountIn`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RouteResult' }
  /stream/route:
    get:
      tags: [Routing]
      summary: The same route, pushed over a WebSocket whenever it changes
      description: |
        A WebSocket upgrade rather than a plain GET: the server answers `101` and then pushes a
        `RouteResult` frame whenever any market the route depends on moves — every leg of every
        candidate path, so a bridged route does not miss half the price changes that alter its
        answer. The watch set is re-derived as markets appear, so a route that switches to a
        newly-listed market stays subscribed to it.

        The parameters below are shared objects, not copies: both endpoints run ONE parser, so they
        cannot disagree about what is valid. When they had separate parsing the streaming path
        skipped amount validation entirely, and `amount=abc` became a NaN that defeated the book
        walk's termination check and traversed every level of every book — repeatedly, on every
        update.

        Two divergences, both deliberate:

        - `includeQuotes` defaults to FALSE here. Measured on the live service, one socket pushed
          658 frames/sec at 9.3KB each, of which the per-venue quotes array was the overwhelming
          majority. A once-per-request explanation is cheap; the same explanation ten times a
          second is not.
        - `balances` is REFUSED outright, and so is `balanceMode`. A socket is held open for
          minutes and there is no message channel on it to update the holdings it was opened with,
          so every frame after the first would price a portfolio the caller may already have traded
          away. Refusing is honest; silently pricing stale holdings is not. `balanceMode` alone
          says what to do about holdings this endpoint will not accept, so it is refused with them
          rather than accepted and dropped. Use `GET /route`.
      parameters:
        - $ref: '#/components/parameters/RouteFrom'
        - $ref: '#/components/parameters/RouteTo'
        - $ref: '#/components/parameters/RouteAmountIn'
        - $ref: '#/components/parameters/RouteAmountOut'
        - $ref: '#/components/parameters/RouteBridges'
        - $ref: '#/components/parameters/RouteHopPenaltyBps'
        - $ref: '#/components/parameters/RouteStrategy'
        - $ref: '#/components/parameters/RouteMaxVenues'
        - $ref: '#/components/parameters/RouteIncludeFees'
        - $ref: '#/components/parameters/RouteMinLegNotional'
        - $ref: '#/components/parameters/RouteExchanges'
        - $ref: '#/components/parameters/RouteCertified'
        - $ref: '#/components/parameters/RouteRequireFullFill'
        - $ref: '#/components/parameters/RouteRequestIdHeader'
        - $ref: '#/components/parameters/StreamIncludeQuotes'
      responses:
        '101':
          description: |
            Upgraded. Every subsequent frame is a JSON RouteResult, identical in shape to the body
            `GET /route` returns.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RouteResult' }
        '400':
          description: |
            Never returned as an HTTP status once the upgrade is accepted. A rejected request is
            closed with WebSocket code `1008` after one JSON frame carrying the same `error` string
            the REST endpoint would have returned as a 400 — including `balances` being unsupported
            here, and a bridged exact-out, which REST refuses as a 501.
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '503':
          description: |
            Never returned as an HTTP status, for the same reason the `400` above is not: the
            socket is closed with WebSocket code `1013` (try again later) after one JSON frame
            carrying `reason: cache_cold`, the same body `GET /route` answers 503 with. A stream
            carries no status codes once open, so a socket accepted while the cache was cold would
            push cold-cache routes indefinitely and look exactly like a healthy one.
  /orderbook/{exchange}/{symbol}:
    get:
      tags: [Market data]
      summary: Cached L2 order book for one venue
      parameters:
        - name: exchange
          in: path
          required: true
          schema: { type: string }
          example: binance
        - name: symbol
          in: path
          required: true
          description: URL-encoded unified symbol.
          schema: { type: string }
          example: BTC%2FUSDT
      responses:
        '200':
          description: Cached book
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CachedOrderBook' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404':
          description: No cached book for that exchange/symbol pair
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /symbols:
    get:
      tags: [Market data]
      summary: Symbols currently cached
      responses:
        '200':
          description: Symbol list
          content:
            application/json:
              schema:
                type: object
                properties:
                  symbols:
                    type: array
                    items: { type: string }
                    example: [BTC/USDT, ETH/USDT]
        '401': { $ref: '#/components/responses/Unauthorized' }
  /exchanges/status:
    get:
      tags: [Operations]
      summary: Per-exchange connection health
      responses:
        '200':
          description: Health per venue
          content:
            application/json:
              schema:
                type: object
                properties:
                  exchanges:
                    type: array
                    items: { $ref: '#/components/schemas/ExchangeHealth' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /metrics:
    get:
      tags: [Operations]
      summary: Prometheus metrics
      description: |
        Authenticated deliberately — it exposes the venue list, traffic volume and
        internal health, which is exactly the reconnaissance an attacker wants.
        Scrapers must send the API key.

        The signal that matters most is `order_router_exchange_last_update_age_seconds`:
        a venue can hold an open socket while its subscription is silently dead, so
        `connected` stays 1 while data rots. Connection state alone will not catch it.
      responses:
        '200':
          description: Prometheus text exposition format
          content:
            text/plain:
              schema: { type: string }
        '401': { $ref: '#/components/responses/Unauthorized' }
components:
  parameters:
    RouteFrom:
      name: from
      in: query
      required: true
      description: The asset you are spending, e.g. `USDT`. Case-insensitive.
      schema: { type: string }
      example: USDT
    RouteTo:
      name: to
      in: query
      required: true
      description: The asset you want to acquire, e.g. `BTC`. Must differ from `from`.
      schema: { type: string }
      example: BTC
    RouteAmountIn:
      name: amountIn
      in: query
      description: |
        Exact amount of `from` to spend. Supply this OR `amountOut`, never both — supplying
        both is a 400 rather than a silent preference, so a typo cannot become a confidently
        wrong route.
      schema: { type: number, format: double, exclusiveMinimum: 0 }
      example: 50000
    RouteAmountOut:
      name: amountOut
      in: query
      description: Exact amount of `to` to acquire. Supply this OR `amountIn`, never both.
      schema: { type: number, format: double, exclusiveMinimum: 0 }
      example: 1
    RouteBridges:
      name: bridges
      in: query
      description: |
        Comma-separated intermediary assets to consider. Defaults to `USDT,USDC,BTC,ETH`. An
        explicitly EMPTY value disables bridging entirely (direct markets only).

        Every listed bridge that has both legs available is solved and scored against the direct
        market, and the best wins — the router does not stop at the first bridge that happens to
        work. Each extra candidate costs real compute (roughly +0.5ms per two-hop candidate at
        full-discovery scale), so trim the list when you know which intermediary you want.
      schema: { type: string, default: 'USDT,USDC,BTC,ETH' }
      example: USDT,USDC
    RouteIncludeQuotes:
      name: includeQuotes
      in: query
      description: |
        Return the per-venue `quotes[]` diagnostic. Defaults to true on this endpoint and
        **false on `/stream/route`**, where it is roughly 90% of the payload and would be
        re-sent many times a second for an explanation nobody reads that often. Suppressing it
        never changes the routing decision — only `savingVsBestSingleBps` may become null, since
        the single-venue baseline comes from the same pass.
      schema: { type: boolean, default: true }
    RouteHopPenaltyBps:
      name: hopPenaltyBps
      in: query
      description: |
        How much better a bridged route must be, per EXTRA hop, before it beats a direct market.
        Defaults to 5. A second order is a second chance for the price to move between fills,
        and that risk is not priced into any order book — so a bridge winning by a hair is not
        actually the better trade. Set 0 to compare purely on rate.
      schema: { type: number, minimum: 0, maximum: 10000, default: 5 }
    RouteStrategy:
      name: strategy
      in: query
      description: |
        `best_single` — one venue per hop (a hop with one leg).
        `split_optimal` — minimum cost across the consolidated fee-adjusted book, unlimited venues.
        `split_capped` — best price using at most `maxVenues` per hop. Greedy approximation, not
        a proven optimum: it solves unconstrained, keeps the highest-volume venues, re-solves,
        and falls back to the deepest venues if that set cannot fill.
      schema: { type: string, enum: [best_single, split_optimal, split_capped], default: best_single }
    RouteMaxVenues:
      name: maxVenues
      in: query
      description: Per-hop venue cap for `split_capped`. Fewer venues means less execution risk and fewer funded accounts.
      schema: { type: integer, minimum: 1, default: 3 }
    RouteIncludeFees:
      name: includeFees
      in: query
      description: Set false to rank on raw price only — useful with negotiated tiers or maker rebates. Then feeCost is 0 and effectivePrice equals averagePrice.
      schema: { type: boolean, default: true }
    RouteMinLegNotional:
      name: minLegNotional
      in: query
      description: |
        Suppress legs below this quote-currency notional and reallocate the freed size, so a
        split does not produce legs that would be rejected by venue minimum-order rules.
        Two exceptions, both of which keep a sub-floor leg rather than return a worse route:
        if EVERY leg falls below it the route is kept rather than emptied, and if `balances` are
        in play and the surviving venues cannot absorb the freed size — they have the depth but
        not your funding — the dropped leg is reinstated instead of shrinking the fill. Without
        `balances` the floor is absolute.
      schema: { type: number, minimum: 0, default: 0 }
    RouteExchanges:
      name: exchanges
      in: query
      description: |
        Comma-separated venue allowlist — only these are considered, e.g. `binance,kraken,bybit`.
        Omit for no restriction. An explicitly EMPTY value means no venues (yielding an empty
        route), not all venues.
      schema: { type: string }
      example: binance,kraken,bybit
    RouteCertified:
      name: certified
      in: query
      description: |
        When true, consider only exchanges CCXT marks as certified — the subset it actively
        maintains and tests to a higher bar (22 of 80 pro classes at time of writing).
        Composes with `exchanges` as an intersection.
      schema: { type: boolean, default: false }
    RouteRequireFullFill:
      name: requireFullFill
      in: query
      description: |
        Refuse partial fills. When cached depth cannot cover the whole size the route is empty
        with `unroutableReason: insufficient_depth`, rather than returning a partial whose
        `effectiveRate` prices only the filled portion.

        Measured against what YOU asked for, not against whatever the solver was finally handed:
        with `balances` in play the size is clamped to what you hold before any book is walked, so
        a hop can fill its reduced target exactly and still leave your request unmet. That case
        refuses too, with `unroutableReason: insufficient_balance` — the reason names the half you
        can do something about.
      schema: { type: boolean, default: false }
    RouteBalances:
      name: balances
      in: query
      description: |
        What you actually hold, so the route is one you can execute. Comma-separated
        `[<exchangeId>.]<ASSET>:<amount>` entries, e.g.
        `binance.USDT:40000,kraken.BTC:0.5,USDT:1000`. The venue prefix is OPTIONAL: a bare
        asset is spendable anywhere ("I have not told you where it sits"), a qualified one funds
        only that venue's legs — you cannot sell BTC on kraken because your BTC is on binance.

        Applied INSIDE the path solver, before candidate paths are ranked: the source amount is
        capped at what you hold, and each venue is given a spending budget during the book walk.
        It therefore changes WHICH path wins, not just how big the winner is — a size a thin
        market could not absorb may be fully fillable once clamped, and a fully-fillable path
        outranks a partial one.

        An explicitly EMPTY value means you hold nothing (an unroutable request with
        `unroutableReason: insufficient_balance`), not "no constraint". Omit the parameter for
        no constraint. At most 64 entries and 4096 characters; both bounds REJECT rather than
        truncate, because a silently dropped entry is a route you cannot fund. A duplicate key
        is a 400 rather than last-wins.

        NOT accepted on `/stream/route`: a socket lives for minutes and has no channel to update
        the holdings it opened with.

        Never logged. The access line's URL is redacted and the audit record keeps the entry
        count, the mode and a truncated hash — never the amounts.
      schema: { type: string, maxLength: 4096 }
      example: binance.USDT:40000,kraken.BTC:0.5,USDT:1000
    RouteBalanceMode:
      name: balanceMode
      in: query
      description: |
        What to do when `balances` cannot cover the request. `cap` (default) routes what you can
        fund and reports the shortfall through `fillRatio` and `balanceCapAmountIn`; `require`
        refuses instead, with `unroutableReason: insufficient_balance`. Clamping is the default
        because `requireFullFill` is the opt-in flag for "refuse rather than shrink".

        `require` covers every way your wallet can come up short, not just the obvious one: too
        little of the asset in total, the right total sitting on venues that do not quote the
        pair (or that `exchanges` excludes), and the same on the `amountOut` side, where the
        input a route needs is not known until the book is walked.

        What it does NOT do is second-guess the market. A shortfall caused by thin books is
        depth, not funding, and answering `insufficient_balance` there would send you off to move
        money that was never the constraint — use `requireFullFill` to refuse that.
      schema: { type: string, enum: [cap, require], default: cap }
    RouteRequestIdHeader:
      name: x-request-id
      in: header
      description: Optional caller-supplied audit id. Echoed in the body and the `x-request-id` response header; one is minted if absent.
      schema: { type: string, maxLength: 200 }
    StreamIncludeQuotes:
      name: includeQuotes
      in: query
      description: |
        Return the per-venue `quotes[]` diagnostic. Defaults to FALSE on this endpoint — see the
        endpoint description for the measured reason. An explicit `includeQuotes=true` still wins,
        and suppressing it never changes the routing decision.
      schema: { type: boolean, default: false }
  securitySchemes:
    ApiKeyHeader:
      type: apiKey
      in: header
      name: x-api-key
    BearerToken:
      type: http
      scheme: bearer
  responses:
    Unauthorized:
      description: |
        Missing or invalid key. Both cases return an identical body by design, so the
        response is not an oracle for probing. Unknown paths also return 401 rather
        than 404, to avoid revealing which routes exist.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example: { error: unauthorized }
    BadRequest:
      description: |
        Invalid parameters — missing `from`/`to`, `from` equal to `to`, neither or both of
        `amountIn`/`amountOut`, a non-positive amount, or an unknown `strategy`.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example: { error: exactly one of amountIn or amountOut must be supplied }
    CacheCold:
      description: |
        The process is alive but not ready to route: fewer than
        `ORDER_ROUTER_MIN_FRESH_BOOKS_FOR_READY` books are fresh, which is the same condition
        `/ready` reports. A route ranked across a cache that is still filling is computed from
        whichever venues happened to connect first and is presented with exactly the confidence of
        a warm one, so it is refused instead. Typical after a restart, for as long as the
        connectors take to repopulate the cache. Retry; do not treat it as a bad request.
      headers:
        retry-after: { schema: { type: integer }, description: Seconds to wait before re-asking }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/CacheColdError' }
    RateLimited:
      description: Rate limit exceeded. Bucketed per API key once the key is valid, otherwise per client IP.
      headers:
        retry-after: { schema: { type: integer }, description: Seconds until the window resets }
        x-ratelimit-limit: { schema: { type: integer } }
        x-ratelimit-remaining: { schema: { type: integer } }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
  schemas:
    Error:
      type: object
      properties:
        error: { type: string }
    CacheColdError:
      type: object
      description: |
        `reason` is the machine-readable field to branch on — it is what distinguishes "come back
        in a moment" from a 404 (wrong ticker) or a 400 (bad request). The counts are the same
        ones `/ready` reports, so a client can log why it was refused.
      properties:
        error: { type: string }
        reason: { type: string, enum: [cache_cold] }
        bookCount: { type: integer, example: 12 }
        freshCount: { type: integer, example: 0 }
        staleCount: { type: integer, example: 12 }
        minFreshBooksForReady: { type: integer, example: 1 }
        staleBookMs: { type: integer, example: 5000 }
    Readiness:
      type: object
      description: |
        The same body on 200 and 503, so a probe that only reads the status code and one that
        reads the body agree. `freshCount` is what the decision is actually made on.
      properties:
        status: { type: string, enum: [ready, not_ready] }
        bookCount: { type: integer, example: 142 }
        freshCount: { type: integer, example: 139 }
        staleCount: { type: integer, example: 3 }
        minFreshBooksForReady: { type: integer, example: 1 }
        staleBookMs: { type: integer, example: 5000 }
        uptimeSec: { type: number, example: 12.4 }
    BookLevel:
      type: object
      properties:
        price: { type: number, format: double }
        amount: { type: number, format: double }
    CachedOrderBook:
      type: object
      properties:
        exchangeId: { type: string, example: binance }
        symbol: { type: string, example: BTC/USDT }
        bids:
          type: array
          items: { $ref: '#/components/schemas/BookLevel' }
        asks:
          type: array
          items: { $ref: '#/components/schemas/BookLevel' }
        exchangeTimestamp:
          type: [integer, 'null']
          description: Venue-supplied timestamp in ms. Absent on some venues and subject to clock drift; prefer receivedAt for freshness.
        receivedAt:
          type: integer
          description: Local arrival time in ms. The authoritative freshness measure.
        sequence: { type: integer }
    RoutingQuote:
      type: object
      properties:
        exchangeId: { type: string, example: binance }
        side: { type: string, enum: [buy, sell] }
        requestedAmount:
          type: number
          format: double
          description: |
            The target this venue was probed against, in the units of the hop's pinned side —
            base units for a quantity walk, quote units for a notional (`amountIn`-on-a-buy) walk.
        filledAmount:
          type: number
          format: double
          description: |
            How much this venue's cached book could fill, always in BASE units. When `balances` are
            supplied this is what the venue could fill FOR YOU — bounded by what you hold there —
            because the same figure decides the `best_single` venue, and a baseline drawn from a
            venue you cannot fund would recommend one you cannot use.
        averagePrice:
          type: [number, 'null']
          description: |
            RAW volume-weighted price across the levels walked, before fees and before any
            staleness penalty. Null if nothing could fill. Shown alongside effectivePriceWithFee
            so the cost of the fee is visible; do not rank on it.
        effectivePriceWithFee:
          type: [number, 'null']
          description: |
            averagePrice adjusted for the venue's taker fee (and the staleness penalty, when
            `stalenessPenaltyBps` is set). RANK ON THIS.
        takerFeeRate: { type: number, format: double, example: 0.001 }
        fullyFillable:
          type: boolean
          description: False means the requested size exceeded cached depth.
        bookAgeMs:
          type: integer
          description: Age of the underlying book. Quotes older than the staleness threshold are excluded from `best`.
    RouteLeg:
      type: object
      properties:
        exchangeId: { type: string, example: lbank }
        amount: { type: number, format: double, description: Size to fill on this venue. }
        averagePrice: { type: number, format: double, description: Raw VWAP for this leg, before fees. }
        takerFeeRate: { type: number, format: double, example: 0.001 }
        feeCost: { type: number, format: double, description: What the fee costs on this leg, in quote currency. }
        effectivePrice: { type: number, format: double, description: Fee-adjusted price for this leg. }
        balanceLimited:
          type: boolean
          description: |
            True when this leg was cut short by your balance rather than by the book — more was on
            offer here, you just could not pay for it. Size-capped, not depth-capped: the two look
            identical in the numbers and need different follow-up. Always false without `balances`.
    RouteHop:
      type: object
      description: |
        One market conversion. `amountIn` is denominated in this hop's input asset and `amountOut`
        in its output asset — for a `buy` that is quote-in/base-out, for a `sell` base-in/quote-out.
      properties:
        pair: { type: string, example: BTC/USDT, description: The market this hop trades. }
        side:
          type: string
          enum: [buy, sell]
          description: Derived from the asset direction, not supplied by the caller.
        base: { type: string, example: BTC }
        quote: { type: string, example: USDT }
        amountIn: { type: number, format: double, description: Amount of this hop's input asset consumed. }
        amountOut: { type: number, format: double, description: Amount of this hop's output asset produced. }
        legs:
          type: array
          description: The venues to trade on for this hop, largest leg first. Length 1 for best_single.
          items: { $ref: '#/components/schemas/RouteLeg' }
        feeCost:
          type: number
          format: double
          description: Total taker fee for this hop, denominated in feeCurrency.
        feeCurrency:
          type: string
          description: |
            Currency feeCost is expressed in. Reported per hop precisely because a route's hops can
            charge in different currencies; there is no cross-hop total, since summing USDT fees
            and BTC fees would produce a meaningless number.
        fullyFillable:
          type: boolean
          description: False means cached depth could not cover this hop's requested size.
        referencePrice:
          type: [number, 'null']
          description: |
            The best fee- and staleness-adjusted price available on ANY fresh permitted venue for an
            infinitesimally small order — the frictionless benchmark. Deliberately not the chosen
            venue's own top of book, which would report zero impact for an order that demonstrably
            paid more than the market's best available price. Null when nothing fresh could be priced.
        impactBps:
          type: [number, 'null']
          description: |
            How much worse this hop's size executes than referencePrice, in basis points. POSITIVE IS
            ALWAYS WORSE, on both sides. Fees and the staleness penalty appear in both halves of the
            comparison and cancel, so this isolates the cost of consuming depth.
        venueCount:
          type: integer
          description: |
            Venues considered for this hop after the exchanges/certified filters, fresh or not, and
            regardless of whether `quotes[]` was returned. Distinguishes "the filters excluded
            everything" from "every book was stale" without needing the diagnostic.
        freshVenueCount:
          type: integer
          description: How many considered venues for this hop were within the freshness cutoff.
        fundedVenueCount:
          type: integer
          description: |
            How many considered venues you could actually spend at for this hop. A THIRD bucket
            beside the two above, for the same reason they are separate from each other: a venue you
            hold nothing on was neither excluded by a filter nor stale, and folding it into either
            counter would make that counter lie. Counted over the venues a wallet COULD have
            funded — fresh, and with depth on the side being traded — so it equals
            `freshVenueCount` when no `balances` were sent; a stale venue you happen to hold money
            on is not funded capacity.
        quotes:
          type: array
          description: Every venue considered for this hop, including stale and unfillable ones — the "why these?" diagnostic.
          items: { $ref: '#/components/schemas/RoutingQuote' }
    ConsideredPath:
      type: object
      description: One candidate market path the router evaluated, whether or not it won.
      properties:
        pairs:
          type: array
          items: { type: string }
          description: The markets this path would trade, in order.
        bridge:
          type: [string, 'null']
          description: The intermediary asset, or null for a direct market.
        amountOut: { type: number, format: double, description: Raw output this path would produce. }
        fullyFillable: { type: boolean }
        score:
          type: number
          description: |
            amountOut after the per-extra-hop penalty. This, not amountOut, decides the winner — so a
            path can show the highest amountOut and still lose, which is the intended behaviour.
        chosen: { type: boolean }
    RouteResult:
      type: object
      description: |
        There is deliberately no `best` field and no top-level `side`. A single-venue answer is a
        hop with one leg; a single-market answer is a route with one hop. Two fields carrying the
        same answer would be two sources of truth, and callers would eventually read the wrong one
        and under-fill.
      properties:
        requestId:
          type: string
          description: Audit id for this recommendation. Logged server-side alongside the full decision.
        calculatedAt:
          type: integer
          description: Epoch ms at which the route was computed — subtract from your receive time to measure network delay.
        calculatedAtIso: { type: string, format: date-time }
        from: { type: string, example: USDT }
        to: { type: string, example: BTC }
        amountIn:
          type: number
          format: double
          description: Amount of `from` the route ACTUALLY spends. 0 when unroutable.
        amountOut:
          type: number
          format: double
          description: Amount of `to` the route ACTUALLY produces. 0 when unroutable.
        requestedAmount:
          type: number
          format: double
          description: What was asked for, in the units of `exactSide`. Compare against amountIn/amountOut.
        exactSide:
          type: string
          enum: [in, out]
          description: Which side the caller pinned — `in` if amountIn was supplied, `out` if amountOut was.
        effectiveRate:
          type: [number, 'null']
          description: |
            amountOut / amountIn end to end, after all fees and all hops — units of `to` per unit
            of `from`. On a partial fill this prices ONLY the filled portion, so check fillRatio
            before using it.
        strategy: { type: string, enum: [best_single, split_optimal, split_capped] }
        includeFees: { type: boolean }
        exchangesFilter:
          type: [array, 'null']
          items: { type: string }
          description: The venue allowlist actually applied, echoed back for auditability. Null when unrestricted.
        certifiedOnly:
          type: boolean
          description: Whether the certified-only filter was applied.
        staleBookMs:
          type: number
          description: |
            The freshness cutoff the router applied. Books older than this were excluded. Echoed so
            `bookAgeMs` on each quote is interpretable, and so you can always see what judgment was
            made — but it is NOT a request parameter. Deciding whether a price is still real is the
            router's job; a caller cannot see the update rates that decision is made against.
        stalenessPenaltyBps:
          type: number
          description: |
            The staleness penalty applied, in basis points per square-root-second of book age. Also
            not a request parameter. It is ON by default, and the coefficient approximates one
            standard deviation of price movement over the book's age (about 0.89 bps/√s at 50%
            annualised volatility), so an older quote must be genuinely better to win rather than
            merely look better.
        requireFullFill:
          type: boolean
          description: |
            Echoed so a caller can confirm the safety flag they sent was applied. Without the echo a
            request that lost the flag in transit is indistinguishable from one that never set it.
        hopPenaltyBps:
          type: number
          description: The per-extra-hop penalty applied when comparing candidate paths, echoed back.
        balancesApplied:
          type: [string, 'null']
          description: |
            The balances that were applied, canonicalised and key-sorted, or null when none were
            sent. VERIFY THIS BEFORE EXECUTING. `/route` declares its query type without a JSON
            schema, so a server that predates this feature IGNORES `balances` and answers
            byte-identically to one that never received it — and executing a plan computed against a
            portfolio the server never saw is the case worth failing loudly on.
        balanceMode:
          type: string
          enum: [cap, require]
          description: The balance mode applied, echoed back.
        balanceCapAmountIn:
          type: [number, 'null']
          description: |
            The ceiling your balances put on `amountIn`, or null when unconstrained. Carried
            separately from `requestedAmount` precisely so `fillRatio` cannot lie: asking for 50000
            while holding 40000 reports `requestedAmount: 50000`, `fillRatio: 0.8` and
            `balanceCapAmountIn: 40000` — not a full fill of 40000.
        balanceEntryCount:
          type: integer
          description: How many balance entries were parsed. 0 when none were sent, and also when an empty `balances=` said you hold nothing.
        referenceRate:
          type: [number, 'null']
          description: |
            The end-to-end frictionless rate — each hop's referencePrice chained together. What you
            would receive if size were free. Null when any hop could not be benchmarked.
        impactBps:
          type: [number, 'null']
          description: |
            How far effectiveRate falls short of referenceRate, in basis points — the end-to-end cost
            of size across every hop. Positive is worse.

            Note the denominator differs from the per-hop `impactBps`: a hop measures against its
            benchmark PRICE (the trading convention, `(executed - benchmark) / benchmark`), while
            this measures against the benchmark RATE. For a buy the two are reciprocals, so the
            numbers agree to first order and diverge only as impact grows large. Use the hop figure
            to reason about a single fill and this one to compare whole routes.
        pathsConsidered:
          type: array
          description: |
            Every candidate market path evaluated, winner flagged. Empty when only one path existed —
            there was nothing to choose between. This is to "why this market?" what quotes[] is to
            "why this venue?".
          items: { $ref: '#/components/schemas/ConsideredPath' }
        hops:
          type: array
          description: |
            The route, in execution order. Length 1 for a direct market, longer when bridged.
            Empty when nothing sufficiently fresh could fill; on a mid-route failure the hops
            solved so far are still returned, for diagnosis.
          items: { $ref: '#/components/schemas/RouteHop' }
        fullyFillable:
          type: boolean
          description: True only when EVERY hop filled completely.
        fillRatio:
          type: number
          description: |
            achieved / requested on the pinned side. Check this before using effectiveRate: on a
            partial fill effectiveRate prices only the filled size, so reading it as the rate for
            the requested size badly misprices the order (a 9% fill quoted as if it were 100%).
        unfilledAmount: { type: number, format: double }
        unroutableReason:
          type: [string, 'null']
          enum: [no_market, exact_out_multi_hop_unsupported, no_venues_matched_filter, all_books_stale, no_liquidity, insufficient_depth, insufficient_balance, null]
          description: |
            Why `hops` is empty; null when routing succeeded. An empty route is a deliberate
            refusal to quote, not a failure:
            `no_market` — no direct market and no bridge path exists between the two assets (404).
            `exact_out_multi_hop_unsupported` — the assets ARE reachable, but only over a bridge,
            and exact-out across hops needs a backwards solve the router does not implement (501).
            Re-ask with `amountIn`.
            `no_venues_matched_filter` — the exchanges/certified filters excluded everything.
            `all_books_stale` — venues exist but every book exceeded the freshness cutoff.
            `no_liquidity` — fresh books exist but none had depth to fill any of the size.
            `insufficient_depth` — requireFullFill was set and depth could not cover the size.
            `insufficient_balance` — the market could have filled this; your wallet could not.
            Either nothing was spendable at any venue quoting the pair, or `balanceMode=require`
            was set and the balances fell short of the request (in total, or at the venues that
            quote it, or on the `amountOut` side), or `requireFullFill` was set and the balance
            clamp — not depth — is what left the request unmet.
        unroutableHopIndex:
          type: [integer, 'null']
          description: Which hop failed, for a bridged route. Null when the whole request was unroutable or routing succeeded.
        warnings:
          type: array
          items: { type: string }
          description: Human-readable cautions — `partial_fill`, `multi_hop`. Empty on a clean single-hop full fill.
        savingVsBestSingleBps:
          type: [number, 'null']
          description: |
            How much a split beats the best single venue, in basis points. Positive means better,
            for both directions. Null on multi-hop routes, where there is no single-venue baseline.
    ExchangeHealth:
      type: object
      properties:
        exchangeId: { type: string }
        connected: { type: boolean }
        lastUpdateAt: { type: [integer, 'null'] }
        updateCount: { type: integer }
        reconnectCount: { type: integer }
        lastError: { type: [string, 'null'] }
