name: Go
on:
  pull_request:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-20.04
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.21.x"
      - name: Setup Node.js
        uses: actions/setup-node@v3
      - name: Install npm dependencies
        run: npm ci --include=dev
      - name: Check tsc version
        run: tsc --version
      - name: Install tsx
        run: npm install -g tsx
      - name: export exchanges
        run: npm run export-exchanges
      - name: Generate implicit API
        run: npm run emitAPI -- --go
      - name: Transpile go/ccxt
        run: tsx build/goTranspiler.ts
      - name: Install dependencies
        run: go get ./go/ccxt
      - name: Build
        run: go build ./go/ccxt
      - name: Build tests
        run: go build ./go/tests/main.go
      - name: Test GO Types
        run: npm run test-types-go
      - name: Run Base Tests
        run: npm run test-base-rest-go
      - name: Run Id Tests
        run: npm run id-tests-go
      - name: Request tests
        run: npm run request-go
      - name: Response Tests
        run: npm run response-go

      # - name: Upload Go Files
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: go-files
      #     path: go/
      - name: Upload Go Binary
        uses: actions/upload-artifact@v4
        with:
          name: main
          path: .

  live-tests:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      # - name: Download Go Files
      #   uses: actions/download-artifact@v4
      #   with:
      #     name: go-files
      #     path: go/
      # - uses: actions/checkout@v4
      - name: Download Go Binary
        uses: actions/download-artifact@v4
        with:
          name: main
          path: .
      - name: Install npm dependencies
        run: npm ci --include=dev
      - name: Export exchanges
        run: npm run export-exchanges
      # - name: Install dependencies
      #   run: go get ./go/ccxt
      # - name: Build
      #   run: go build ./go/ccxt
      # - name: Build tests
      #   run: go build ./go/tests/main.go
      - name: Adjust permissions
        run: chmod +x main
      - name: Live tests
        run: npm run live-tests-rest-go


