name: Js
on:
  pull_request:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v3
      - name: Install npm dependencies
        run: npm ci --include=dev
      - name: Check tsc version
        run: tsc --version
      - name: Install tsx
        run: npm install -g tsx
      - name: Pre-transpile and transpile TS
        run: npm run pre-transpile-js
      - name: Run Base Tests
        run: npm run test-base-rest-js
      - name: Run Base Ws Tests
        run: npm run test-base-ws-js
      - name: Run Id Tests
        run: npm run id-tests-js
      - name: Request tests
        run: npm run request-js
      - name: Response Tests
        run: npm run response-js

      - name: Upload Js Files
        uses: actions/upload-artifact@v4
        with:
          name: js-files
          path: js/
  live-tests:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Download JS Files
        uses: actions/download-artifact@v4
        with:
          name: js-files
          path: js/
      - name: Install npm dependencies
        run: npm ci --include=dev
      - name: Live tests
        run: ./run-tests-simul.sh --js





